<% if @autos.empty? %>
    Não existem autos cadastrados
<% else %>
    <table>
      <tr>
        <td>
          Classe
        </td>
        <td>
          Assunto
        </td>
        <td>
          Observação
        </td>
      </tr>
      <% @autos.each do |auto| %>
          <tr>
            <td><%= h auto.classe.nome %></td>
            <td><%= h auto.assunto.nome %></td>
            <td><%= h auto.observacao %></td>
          </tr>
      <% end %>
    </table>
<% end %>