<%= link_to 'Novo assunto', new_assunto_path %><br>

<% if @assuntos.empty? %>
    Não existem assuntos cadastrados
<% else %>
    <table>
      <tr>
        <td>
          Nome
        </td>
      </tr>
      <% @assuntos.each do |assunto| %>
          <tr>
            <td>
              <%= h assunto.nome %>
            </td>
          </tr>
      <% end %>
    </table>
<% end %>